<!-- <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div> -->
<div class="page">
    <nav class="page__menu menu">
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Home</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Categories</a></li>
            <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Contact</a></li>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </ul>
    </nav>


    <div class="container-flex">
        <div class="main-info">
            <h1 style="color: #299BBF;">$699</h1>
            <br>
            <h1>IPhone 12</h1>
            <p id="paragraph"> Hello there iPhone 12. Beautifully bright 6.1-inch Super Retina XDR display. Cinema-grade Dolby Vision video recording, editing and playback. Powerful A14 Bionic chip. And new MagSafe accessories for easy attachment and faster wireless charging.
            </p>
            <br>
            <button class="button"><span>Order Now</span></button>
        </div>
        <div class="slider">
            <img src="/Resource/Apple-iPhone-12-PNG.png" alt="">
        </div>
    </div>

    <script src="../js/app.js">
    </script>